{
  "extends": "airbnb-base",

  "plugins": [
    "jasmine"
  ],

  "env": {
    "jasmine": true
  },

  "rules": {
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline",
      "functions": "ignore"
    }],
    "no-console": ["off"],
    "no-param-reassign": ["off"]
  }
}
